.page-login-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #eeecdb;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 100%;
  max-width: 350px;
}
.form-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-login,
.input-password {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  line-height: none;
  border-bottom: 0.6px solid #383743;

  color: #383743;
  font-size: 16px;
  height: 20px;

  margin: 10px 0;
}
.input-login:focus,
.input-password:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 0.6px solid #383743;
  outline: 0;
}
.input-login::before {
  content: "";
  background-image: url("../../assets/ic-email.png");
}
/* -webkit-input-placeholder::after {
  content: "batata";
} */
.input-password::placeholder::before {
  content: "X";
  display: block;
  background-image: url("../../assets/ic-cadeado.png");
}
.input-submit-login {
  width: 90%;
  height: 52px;
  background-color: #57bbbc;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  border: none;
  border-radius: 3.6px;
}
.input-submit-login:hover {
  opacity: 0.9;
  cursor: pointer;
}
.form-content-container:invalid {
  border: 5px solid green;
  background-color: red;
}
.error-message {
  font-family: "Roboto", sans-serif;
  color: #ff0f44;
  font-size: 12.2px;
  height: 14px;
  margin: 12px 0;
}
.icon-container {
  display: flex;
  justify-content: center;
}
.text-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-home,
.text-wellcome {
  text-align: center;
  font-family: "Roboto";
}
.text-wellcome {
  font-weight: bold;
  font-size: 24px;
}
.text-home {
  font-size: 18px;
}
