.page-company-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #eeecdb;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
}
.header-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(238, 76, 119);
  background: linear-gradient(
    180deg,
    rgba(238, 76, 119, 1) 0%,
    rgba(78, 25, 69, 1) 100%,
    rgba(13, 4, 48, 1) 100%
  );
}
.company-component-com {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  overflow: hidden;
  background-color: #fff;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
}
