.page-home-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #eeecdb;
  align-items: center;
  flex-direction: column;
  /* align-items: center; */
}
.header-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(238, 76, 119);
  background: linear-gradient(
    180deg,
    rgba(238, 76, 119, 1) 0%,
    rgba(78, 25, 69, 1) 100%,
    rgba(13, 4, 48, 1) 100%
  );
}
.company-component {
  display: flex;
  align-items: center;
  max-height: 235px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  margin: 16px;
  padding: 16px;
  border-radius: 3px;
}
.main-conainer {
  width: 60%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-image {
  width: 40%;
  max-width: 300px;
  margin: 0 16px;
}
.enterprise-name {
  color: #1a0e49;
  font-size: 26px;
}
.enterprise-type {
  color: #8d8c8c;
  font-size: 20px;
}
.enterprise-country {
  color: #8d8c8c;
  font-size: 14px;
}
.input-search {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  line-height: none;
  border-bottom: 0.6px solid #fff;

  color: #fff;
  font-size: 16px;
  height: 20px;

  margin: 10px 0;
}
.input-search:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  border-bottom: 0.6px solid #fff;
  outline: 0;
}
.input-search::placeholder {
  color: #fff;
}
.message {
  color: #383743;
  font-size: 20px;
}
.name-description-container a {
  text-decoration: none;
}
